$radius: 3px;
@mixin background-gradient() {
  background: #ffffff; /* Old browsers */
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}
@mixin  background-gradient-open(){
 background: #FCF3DC;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.5);
}
.calendar-label {

  .col-day{
    width: 14.2%;
  }
  position: relative;
  display: inline-block;
  background: gainsboro;
  border-radius: $radius;
  margin: 5px;
  border: 1px solid gainsboro;
  .calendar-label-btn {
    width: 180px;
    text-align: center;
    @include background-gradient();
    transition: 0.1s;
    &.open{
      @include background-gradient-open();
    }
  }
  .calendar-label-ico {
    width: 30px;
    height: 100%;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    cursor: pointer;
    padding: 0;
    border-left: 1px solid gainsboro;
    @include background-gradient();
    &:active {
      background: #ffffff;
      box-shadow: inset 0 0 10px gainsboro;
      -moz-user-select: none;
      -o-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .ico-calendar {
    background: url("../img/calendar.png") no-repeat center;
    padding: 5px 10px;
    background-size: 70% 70%;
  }
  & > div {
    display: inline-block;
    padding: 5px 10px;

  }
}
 .calendar-view {
  position: absolute;
  background: #FCF3DC;
  top: 30px;
  left: 100px;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 10px gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  border-radius: 3px;
  .container-months {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    background: #ffffff;
    padding: 10px 15px;
    &:last-child{
      position: absolute;
    }
  }

  .block-month {
    margin: 5px;
    display: inline-block;
    min-width: 180px;
    min-height: 160px;

    .col-day {
      // border-radius: 3px;
    }
  }
  .info-block {
    padding: 5px 2px;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  .col-day {
    cursor: pointer;
    padding: 2px;
  }
  .red {
    color: red;
  }
  .name-month {
    font-style: italic;
    margin: 5px;
  }
  .numeric {
    .col-day {
      &:hover {
        background: ghostwhite;
      }
    }
    .row {
      //margin: -3px 0;
      overflow: hidden;
    }
    .current {
      border: 1px solid red;
      //background: rgb(255, 228, 144);
      &:hover {
        background: #ffcf78;
      }
    }
    .select {
      background: rgb(180, 199, 223);
      &:hover {
        background: rgba(132, 157, 211, 0.65);
      }
    }

  }
  .border-line {
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    overflow: inherit;
    .btn-back, .btn-forward {
      position: absolute;
      top: -16px;
      font-size: 25px;
      font-weight: bold;
      color: gray;
      padding: 0px 5px;
      cursor: pointer;
      border-radius: 3px;
      &:hover {
        color: black;
        background: ghostwhite;
      }
    }
    .btn-back {
      left: -18px;

    }
    .btn-forward {
      right: -18px;

    }
  }
  table td {
    vertical-align: top;
  }
  .info-label {
    &>div{
      display: inline-block;
    }
    width: 100%;
    margin: 8px auto;
    .info-label-value {
      padding: 5px 3px;
      background: #ffffff;
      margin-left: 5px;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
    }
    .button {
      margin-left: 5px;
      border-radius: 3px;
    }
  }
  .button {
    @include background-gradient();
    border: 1px solid #E0E0E0;
    padding: 5px 3px;
    cursor: pointer;
    &:active {
      background: #ffffff;
      color: gray;
    }
  }

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$transition: 0.2s;
.calendar-view {
  transition: $transition;
  transform-origin: right top;
  transform: scaleY(1);
  &.ng-hide-remove {
    opacity: 0;
    top: 0;
    transform: scaleY(0);
    &.ng-hide-remove-active {
      transform: scaleY(1);
      opacity: 1;
      top: 30px;
      transition: $transition;
    }
  }
  &.ng-hide-add {
    opacity: 1;
    top: 30px;
    transform: scaleY(1);
    &.ng-hide-add-active {
      top: 0;
      transform: scaleY(0);
      opacity: 0;
      transition: $transition;
    }
  }
}


$transition: 2s;
.container-months {
  transition: $transition linear;
  transform: rotateY(0deg);
  &.ng-enter {
    transform-origin: right;
    transform: rotateY(90deg);
    &.ng-enter-active {
      transform: rotateY(0deg);
    }
  }
  &.ng-leave {
    transform-origin: left;
    transform: rotateY(90deg);
    &.ng-leave-active {
      transform: rotateY(0deg);
    }
  }
}

