<div ng-show="show" class="calendar-view">
    <div class="container-months" >
        <div ng-include="includeMonths">

        </div>
    </div>
    <div class="info-block">
        <div class="row info-label">
            <div class="col-4">
                <div class="info-label-value">
                    {{ after  | date:'yyyy.MM.dd' }}
                </div>

            </div>
            <div class="col-4">
                <div class="info-label-value">
                    {{ before  | date:'yyyy.MM.dd' }}
                </div>

            </div>
            <div class="col-4">
                <div class="button" ng-click="click()">
                    Применить
                </div>

            </div>

        </div>

    </div>
</div>