<div ng-show="show" class="calendar-view">
    <div class="container-months" >
        <div ng-include="includeMonths">

        </div>
    </div>
    <div class="info-block">
        <div class="info-label" ng-if="!exact">
            <div class="col-4">
                <div class="info-label-value">
                    {{ after  | date:formatDate }}
                </div>
            </div>
            <div class="col-4">
                <div class="info-label-value">
                    {{ before  | date:formatDate }}
                </div>
            </div>
            <div class="col-4">
                <div class="button" ng-click="apply()">
                    Применить
                </div>
            </div>
        </div>
        <div class="info-label" ng-if="exact">
            <div class="col-8">
                <div class="info-label-value">
                    {{ exact  | date:formatDate }}
                </div>
            </div>
            <div class="col-4">
                <div class="button" ng-click="apply()">
                    Применить
                </div>
            </div>
        </div>


    </div>
</div>