<table>
    <tr>

        <td ng-repeat="month in months track by $index">
            <div class="block-month">
                <daysweek>
                </daysweek>
                <div class="border-line" >
                    <div class="btn-back" ng-click="stepBack()" ng-if="month.btnBack">
                        &#8249;
                    </div>
                    <div class="btn-forward" ng-click="stepForward()" ng-if="month.btnForward">
                        &#8250;
                    </div>
                </div>
                <div class="row name-month">
                    {{month.value | date:'MMMM yyyy'}}
                </div>
                <div class="numeric">
                    <div class="row" ng-repeat="week in month.formatMonth track by $index">
                        <div class="col-day  text-right {{day.class}}"
                             ng-repeat="day in month.formatMonth[$index] track by $index" ng-click="selectEvent(day)">
                     <span ng-switch="$index">
                        <span ng-switch-when="6" class="red">
                           {{day.value | date:'d'}}
                        </span>
                       <span ng-switch-when="5" class="red">
                           {{day.value | date:'d'}}
                        </span>
                         <span ng-switch-default>
                            {{day.value | date:'d'}}
                        </span>
                   </span>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>